.footer {
  width: 100%;
  padding: var(--pc-side-padding) 18px;
  background-color: var(--white);
  max-height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: var(--sp-side-padding) 14px;
  }
}
