.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 16px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  transition:
    filter 0.3s ease,
    opacity 0.3s ease;
}

.button:disabled {
  cursor: not-allowed;
  filter: blur(1px);
  opacity: 0.8;
}
