.budgetAndVacation {
  display: flex;
  align-items: center;
  gap: 12px;

  .definitionWrap {
    display: flex;
    align-items: center;

    dt,
    dd {
      font-weight: 400;
      color: var(--black-900);
    }

    dd {
      margin-inline-start: 5px;
    }

    dt:after {
      content: ':';
      color: var(--black-900);
    }

    .vacation {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}

.small {
  font-size: 0.5rem;
}

.medium {
  font-size: 0.8rem;
}

.large {
  font-size: 1.2rem;
}
