.cardList {
  margin: 0 auto;
  max-width: 860px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  list-style: none;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .cardList {
    width: 100%;
  }
}
